*, *::after, *::before {
    box-sizing: border-box;
  }

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

div, button, .odometer-value {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#targets-container {
    cursor: url('assets/cursor.png') 32 32, auto;
    width: 100%;
    height: 100%;
    background-color: yellow;
}

#row {
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
}

.info {
    background-color: red;
    margin: 0;
}

.target {
    position: absolute;
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
#modal.active {
    transition: 200ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
#modal.disabled {
    transition: 200ms ease-in-out;
    transform: translate(-50%, -50%) scale(0);
}
#modal #retry-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    background-color: red;
    width: 100%;
}

#modal .title {
    font-size: 1.25rem;
    font-weight: bold;
}

#modal-body {
    display: flex;
    align-items: stretch;
    align-content: first baseline;
    margin: 10px;
}

.stat-card {
    border-radius: 5px;
    border: 1px solid black;
    margin: 0px 5px 0px 5px;
    padding: 10px;
    background-color: orchid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-number {
    font-size: 2rem;
    --odometer-duration: 5s;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
#overlay.active {
    transition: 200ms ease-in-out;
    opacity: 1;
    pointer-events: all;
}

#overlay.disabled {
    transition: 200ms ease-in-out;
    opacity: 0;
    pointer-events: none;
}

#odometer-target-counter {
    --odometer-duration: 0.1s;
}

#odometer-target-counter.odometer-animating-up .odometer-ribbon-inner, #odometer-target-counter.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: var(--odometer-duration, 0.1s) !important;
    -moz-transition-duration: var(--odometer-duration, 0.1s) !important;
    -ms-transition-duration: var(--odometer-duration, 0.1s) !important;
    -o-transition-duration: var(--odometer-duration, 0.1s) !important;
    transition-duration: var(--odometer-duration, 0.1s) !important;
}

.stat-number.odometer-animating-up .odometer-ribbon-inner, .stat-number.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: var(--odometer-duration, 5s) !important;
    -moz-transition-duration: var(--odometer-duration, 5s) !important;
    -ms-transition-duration: var(--odometer-duration, 5s) !important;
    -o-transition-duration: var(--odometer-duration, 5s) !important;
    transition-duration: var(--odometer-duration, 5s) !important;
}
